.home-wrapper {
    display: flex;
    gap: 50px;

    .key {
        width: 35%;
        height: 100vh;
        background-color: gray;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button {
            font-size: 2rem;
            background-color: #ff000038;

            &:hover {
                color: blue;
            }
        }
    }

    .pdf {
        width: 40%;
    }
}